/* ---------GLOBOL----------- */
/* ---------GLOBOL----------- */

html, body{
    font-size: 18px;
    font-family: Manrope,sans-serif;
    color:#1E1B1B ;
}

html {  scroll-behavior: smooth;}

.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container_basic{
    max-width:1950px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.container{
    max-width:1290px;
    margin: 0 auto;
}

.burger{
    display: none;
}

.heading_subtitle {
    font-size: 24px;
    font-size: clamp(12px, 2.7vw, 35px) ;
    font-weight: 600;
    letter-spacing: -3%;
    text-align: center;
    margin-top: 128px;
    margin-bottom: 8px;
}

.heading_title {
    font-size: clamp(19px, 2.7vw, 76px) ;
    font-weight:800;
    text-align: center;
    margin: auto;
}


/* ---------HEADER TOP----------- */
/* ---------HEADER TOP----------- */
.header {
    font-weight: 600px;
    margin-bottom: 135px;
}

.header_top {
    margin-bottom: 80px;
    background-color: rgb(247, 250, 101);
}

.header_top-inner {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 10px;
}

.header_top1{
    display:none;
    background-color: rgb(127, 229, 255);
    padding: 30px 10px;
}

.header_nav:last-child {
    margin-right:0;
}

.header_nav-list {
    display:flex;        
}

.header_nav-item {
    margin-right: 40px;
}
.header_nav-item:last-child{
    margin-right: 0;
}

.header_nav-link {
    font-weight: 600px;
    line-height: 28px;
    color: #1E1B1B;
    white-space: nowrap;
}

.header_nav-link:hover {
    color:rgb(236, 12, 12);
    transition: all .3s;
}

.header_nav-tel {
    display:flex;
    align-items: center;
}

.header_tel-item1{
    color: rgb(30, 27, 27);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.header_tel-item2{
    color: rgb(30, 27, 27);
    font-size: 18px;
    font-weight: 600;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
}


/* ---------HEADER BODY----------- */
/* ---------HEADER BODY----------- */
.header_main {
    display:flex;
    justify-content:space-between;
    color: #1E1B1B; 
}

.header_content {
    margin-right: 20px;
    flex: 1 1 48.4%;

    @media ( max-width: 900px){
        max-width: 600px;
        margin: 0 auto;
    }
}

.header_play {
    display: inline-flex;
    align-items: center;
}

.header_play svg {
    margin-right: 8px; 
    border-radius: 50%;
    transition: all .3s;
}

.header_play:hover svg {
    box-shadow: 0 0 0 4px #ee0a0a;
}

.header_title {
    font-size: 57px;
    font-weight: 800;
    line-height: 1.3;
    max-width:100%;
    margin-bottom: 32px;
    margin-top: 82px;

    @media ( max-width: 1300px){
        font-size: 40px;
    }
    @media ( max-width: 1000px){
        font-size: 30px;
    }
    @media ( max-width: 1000px){
        max-width: 400px;
    }
    @media ( max-width: 400px){
        font-size: 22px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.header_button-box{
    display:flex;
    align-items: center;
    margin-bottom: 48px;

    @media ( max-width: 400px){
        display: block;
        margin-bottom: 10px;
    }
}


.header_button{
    display: inline-block;
    margin-right: 50px;

    @media ( max-width: 1000px){
        margin-right: 20px;
    }
    @media ( max-width: 400px){
        margin-bottom: 20px;
    }
}

.header_button1 {
    display: inline-block;
    padding: 16px 40px;
    background: #FF6433;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.header_button1:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 0  #FF6433;;
}

.header_button1:active{
    transform: translateY(-2px);
    box-shadow: 0 2px 0  #FF6433;;
}

.header_top-tel{
    margin-right: 14px;
}

.header_top-text{
    margin-left: 45px;
    margin-bottom: 40px;

    @media ( max-width: 400px){
        margin-left: 0;
        margin-bottom: 0;
    }
}

.header_top-item1 {
    color: #939191;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-right: 14px;
}

.header_top-item2 {
    font-size: clamp(10px, 1.4vw, 25px) ;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0%;
    text-align: left;
}

.header_content-img {
    position: relative;
}

.header_img{
    max-width: 100%;
}

.header_img-head {
    position: absolute;
    top: -2%;
    left: -27%;
    max-width: 100%;
}


/* ---------ABOUT----------- */
/* ---------ABOUT----------- */
.about {
    background: rgb(233, 237, 240);
}

.about_createx {
    display: flex;
    justify-content: center;
}

.about_createx-content {
    justify-content: center;
}

.about_heading { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;

    @media ( max-width: 400px){
        margin-bottom: 30px;
    }
}

.about_subtitle {
    @media ( max-width: 900px){
        margin-top: 60px;
    }
    @media ( max-width: 400px){
        margin-top: 30px;
    }
}

.about_title {
    color:rgba(30, 27, 27, 1);
    font-size: 50px;
    font-weight: 800;
    line-height: 1.25;
    max-width: 890px;
    text-align: center;

    @media ( max-width: 900px){
        font-size: 30px;
    }
    @media ( max-width: 400px){
        font-size: 22px;
    }
}

.about_items {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    gap: 4px;
}

.about_items1 {
    margin-bottom: 190px;

    @media ( max-width: 900px){
        margin-bottom: 30px;
    }
    @media ( max-width: 400px){
        margin-bottom: 10px;
    }
} 

.about_item {
    @media ( max-width: 1350px){
        flex: 1 1 48%; 
    }
} 

.about_item img {
    @media ( max-width: 1350px){
        width: 100%; 
    }
    
} 

.about_item:hover {
    border:solid 4px #ee0a0a;
    transition: all .3s;
}

.about_item-Item3{
    fill: rgb(35, 97, 151);
}

.values {
    padding-top: 134px;

    @media ( max-width: 900px){
        padding-top: 15px;
    }
}

.about_values {
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;

    @media ( max-width: 1100px){
        flex-direction: column;
        align-items: center;
    }
}

.values_content {
    margin-right: 30px;
    margin-bottom: 20px;
}

.values_title {
    font-family: Manrope;
    font-size: 58px ;
    font-weight: 800;
    line-height: 1.25;
    padding-bottom: 18px;
    max-width: 525px;

    @media ( max-width: 900px){
        font-size: 30px;
    }
    @media ( max-width: 400px){
        font-size: 22px;
    }
}

.values_inform {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: rgba(30, 27, 27,0.6);
    max-width: 437px;
    margin-bottom: 32px;

    @media ( max-width: 400px){
        font-size: 14px;
        margin-bottom: 15px;
    }
}

.header_content-button {
    margin-top: 32px;
}

.values_list {
    margin-right: 130px;

    @media ( max-width: 1200px){
        margin-right: 0px;
    }
}

.values_list1{
    max-width: 432px;
}

.values_list2{
    max-width: 432px;
}

.values_list3{
    max-width: 450px;
}

.values_number {
    display:flex;
    align-items: baseline;
}

.namber {
    width: 72px;
    height: 72px;
    background: #661CE7;
    border-radius: 50%;
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin-right: 24px;
}

.namber_content {
    font-size: clamp(14px, 1.7vw, 50px);
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -3%;
    text-align: left;
    margin-bottom: 8px;
}

.namber_inform {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0%;
    text-align: left;
    color: rgba(30, 27, 27,0.6);
    margin-left: 96px;
}


/* ---------SERVICE----------- */
/* ---------SERVICE----------- */
.service_inner{
    display:flex;
    flex-direction: column;
    height: 100%;
    padding-top: 130px;

    @media ( max-width: 900px){
        padding-top: 70px;
    }
    @media ( max-width: 600px){
        padding-top: 20px;
    }
}

.service_content {
    display: flex;
    justify-content: center;
    position: relative;
} 

.service_content1,
.service_content3{
    width: 100%;
}

.service_content1{
    @media ( max-width: 900px){
        display: none;
    }
}

.service_content3_1{
    width: 100%;
    height: 500px;
    max-width: 100%;

    @media ( max-width: 1600px){
        height: 450px;
    }
    @media ( max-width: 1200px){
        height: 350px;
    }
    @media ( max-width: 1000px){
        height: 300px;
    }
    @media ( max-width: 400px){
        height: 250px;
    }
}

.service_content2 {
    height: 100%;
    background: rgb(255, 100, 51);
    position: absolute;
    top: 0;
    left: 15%;

    @media ( max-width: 900px){
        left: 0;
    }
    @media ( max-width: 600px){
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        width: 100%;
        
    }
}

.service_title {
    width:730px;
    padding: 130px 80px 50px 80px;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.4;
    color: rgb(255, 255, 255);

    @media ( max-width: 1600px){
        width: 515px;
        font-size: 27px;
        padding: 130px 50px 50px 50px;
    }
    @media ( max-width: 1200px){
        width: 350px;
        font-size: 22px;
        padding: 70px 30px 50px 30px;
    }
    @media ( max-width: 700px){
        width: 250px;
        font-size: 18px;
        padding: 70px 30px 50px 30px;
    }
    @media ( max-width: 600px){
        padding: 10px 30px 10px 30px;
    }
    @media ( max-width: 400px){
        font-size: 16px;
        padding: 10px ;
    }
}

.service_button {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px;
}

.header_button2{
    background:#1E1B1B ;
    margin-left: 60px;

    @media ( max-width: 1200px){
        margin-left: 30px;
    }
    @media ( max-width: 600px){
        margin-left: 0px;
        font-size: 10px;
        padding: 10px;
    }
}

.header_button2:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 0  #1E1B1B
}

.service_content3 {
    max-width: 100%;
}

.service_content3_1{
    max-width: 100%;
}

.service_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(242, 242, 242, 1);
    padding: 45px 0;

    @media ( max-width: 600px){
        padding: 15px 0;
    }
}

.service_inform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1290px;
    width: 100%;
    flex-wrap: wrap;
}

.service_inform-list {
    @media ( max-width: 600px){
        flex: 0 1 50%;
        text-align: center;
    }
}

.service_inform-item {
    color: rgb(102, 28, 231);
    font-size: 58px;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 10px;

    @media ( max-width: 900px){
        font-size: 38px;
    }
    @media ( max-width: 600px){
        font-size: 25px;;
    }
}

.service_inform-item1 {
    color: rgb(30, 27, 27);
    font-size: 22px;
    font-weight: 500;
    line-height: 2.;

    @media ( max-width: 900px){
        font-size: 13px;
        line-height: 1.3;
    }
}

.service_brands {
    max-width: 1920px;
    background: rgb(226, 230, 233);
}

.service_brands-title {
    font-size: clamp(23px, 5.7vw, 76px);
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -3%;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 48px;

    @media ( max-width: 900px){
        padding-top: 40px;
        padding-bottom: 20px;
}
    @media ( max-width: 600px){
        padding-top: 0;
        padding-bottom: 0;
}
}

.service_brands-blok {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 80px;

    @media ( max-width: 600px){
        padding-bottom: 30px;
}
    @media ( max-width: 400px){
        padding-bottom: 10px;
}
}

.service_brands-item {
    margin: 10px;
    background-color: #FFFFFF
}

.service_brands-item img{
    max-width: 100%;
}


/* ---------BLOG----------- */
/* ---------BLOG----------- */
.blog {
    background-color: rgb(244, 250, 250);
    margin-top: -130px;

    @media ( max-width: 900px){
        margin-top: -75px;
    }
    @media ( max-width: 600px){
        margin-top: -30px;
    }
}

.blog_block {
    justify-content: center;
    background-color: rgb(244, 250, 250);
    padding-bottom: 70px;

    @media ( max-width: 900px){
        padding-bottom: 5px;
    }
}

.blog_title {
    font-size: 58px;
    font-weight: 800;
    line-height: 1.3;
    text-align: center;
    margin: 130px 0 45px 0;

    @media ( max-width: 900px){
        margin: 70px 0 25px 0;
}
    @media ( max-width: 600px){
        margin: 30px 0 25px 0;
        font-size: 35px;
}
}

.blog_content {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1280px; 
    height: 100%;
    margin: auto;

    @media ( max-width: 900px){
        display: block;
}
}

.blog_item-img {
    margin: 0 5px;

    @media ( max-width: 900px){
        margin: 0;
}
}

.blog_item-img1 {
    max-width: 100%;

    @media ( max-width: 900px){
        width: 100%;
    }
}

.blog_item-data {
    color: rgb(147, 145, 145);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 20px;

    @media ( max-width: 400px){
        margin-top: 10px;
    }
}

.blog_item-inform {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    margin: 18px 5px;

    @media ( max-width: 600px){
        margin: 10px 5px;
    }
}

.blog_item-paragraf {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 10px 64px 10px;

    @media ( max-width: 900px){
        margin-bottom: 30px;
    }
    @media ( max-width: 400px){
        margin-bottom: 15px;
        font-size: 14px;
    }
}


/* ---------Customers----------- */
/* ---------Customers----------- */
.blog_customers {
    max-width: 100%;
    background: rgb(242, 242, 242);
    padding-top: 128px;
    padding-bottom: 206px;

    @media ( max-width: 600px){
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.blog_customers-title {
    font-size: 55px;
    font-weight: 800;
    line-height: 1.31;
    text-align: center;
    max-width: 910px;
    margin: 0 auto;
    margin-bottom: 76px;

    @media ( max-width: 900px){
        font-size: 35px;
        margin-bottom: 0;
    }
    @media ( max-width: 600px){
        font-size: 28px;
    }
    @media ( max-width: 400px){
        font-size: 25px;
    }
}

.customers_tutle {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -3%;
    text-align: center;
    width: 990px;
    margin: 0 508px 76px 507px;
}

.customers_box {
    display: flex;
    justify-content: center;
}

.customers_content {
    max-width: 616px;
    box-sizing: border-box;
    border: 1px solid rgba(172, 172, 172, 0.29);
    border-radius: 6px;
    box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
    background: rgb(255, 255, 255);
    margin: 15px;
    padding: 72px;

    @media ( max-width: 900px){
        padding: 40px
    }
    @media ( max-width: 600px){
        padding: 20px
    }
    @media ( max-width: 400px){
        padding: 5px
    }
    @media ( max-width: 400px){
        margin: 5px;
    }
}

.customers_content-inform {
    display:flex;
    align-items: center;
    margin-bottom: 24px;
}

.content_inform-lmg {
    margin-right: 18px;
}

.customers_inform-item1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -3%;
    text-align: left;
}

.customers_inform-item2 {
    color: rgb(147, 145, 145);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.customers_content-paragraf {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;

    @media ( max-width: 900px){
        font-size: 18px;
    }
    @media ( max-width: 400px){
        font-size: 12px;
    }
}


/* ---------ACCORDEON----------- */
/* ---------ACCORDEON----------- */
.accordeon{
    height: 100%;
}

.accordeon_inner {
    padding: 128px 0;
    background: rgb(226, 230, 233);

    @media ( max-width: 900px){
        padding: 60px 0;
    }   
}

.accordeon_content {
    max-width: 900px;
    margin: 0 auto;
}

.accordeon_tutle {
    font-size: 58px;
    font-weight: 800;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 85px;
    
    @media ( max-width: 900px){
        font-size: 38px;
        margin-bottom: 30px;
    }
    @media ( max-width: 600px){
        font-size: 25px;
        margin-bottom: 20px;
    }           
}

.accordeon_prog-item {
    background: rgb(255, 255, 255);
    margin: 12px;
}

.accordeon_prog-head {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    padding: 40px 0 40px 40px;
    position: relative;

    @media ( max-width: 900px){
        padding: 20px 0 20px 10px;
        font-size: 22px;
    } 
    @media ( max-width: 600px){
        padding: 10px;
        font-size: 18px;
    }
    @media ( max-width: 500px){
        font-size: 13px;
    }
    @media ( max-width: 400px){
        padding: 10px 5px;
        font-size: 10px;
    } 
}

.accordeon_prog-head::before,
.accordeon_prog-head::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 5%;
    width: 18px;
    height: 2px;
    background: rgb(255, 100, 51);
    border-radius: 2px;
}

.accordeon_prog-head::after{
    transform: rotate(90deg);
    transition: all .3s;
}

.accordeon_prog-text {
    min-height: 120px;
    color: rgba(147, 145, 145, 1);
    font-size: 17px;
    font-weight: 600;
    line-height: 1.75;
    padding: 0 155px 0 40px;

    @media ( max-width: 900px){
        padding:  0 20px;
        font-size: 18px;
        line-height: 1.3;
    }
    @media ( max-width: 600px){
        padding:  0 40px 10px 10px;
        font-size: 10px;
        min-height: auto;
    } 
}

.accordeon_prog-link--active .accordeon_prog-head::after{
    transform: rotate(90deg);
}


/* ---------INFOGUS----------- */
/* ---------INFOGUS----------- */
.infogus {
    padding-top: 120px;

    @media ( max-width: 900px){
        padding-top: 70px;
    }
    @media ( max-width: 400px){
        padding-top: 30px;
    }
}

.infogus_box {
    display:flex;
    justify-content: space-between;
    margin-bottom: 180px;

    @media ( max-width: 1100px){
        margin-bottom: 90px;
    }
    @media ( max-width: 900px){
        margin-bottom: 70px;
    }
    @media ( max-width: 700px){
        display: block;
    }
    @media ( max-width: 400px){
        margin-bottom: 30px;
    }
}

.infogus_title {
    font-size: 56px;
    font-weight: 800;
    line-height: 1.3;
    max-width: 520px;
    margin-bottom: 48px;

    @media ( max-width: 600px){
        font-size: 37px;
    }
    @media ( max-width: 400px){
        font-size: 28px;
        margin-bottom: 15px;
    }
}

.infogus_experts{
    flex: 0 1 48.4%;
    margin-right: 20px;

    @media ( max-width: 400px){
        margin-right: 0;
    }
}

.infogus_experts-form {
    @media ( max-width: 700px){
        max-width: 320px;
    }
}

.infogus_experts-item:last-child{
    margin-bottom: 0;
}

.infogus_experts-input {
    border-radius: 2px;
    background: rgb(242, 242, 242);
    margin-bottom: 5px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    margin-bottom: 5px;
    width: 100%;
    display: block;

    @media ( max-width: 900px){
        padding: 10px 20px;
        font-size: 12px;
        line-height: 1.3;
    }
}

.infogus_experts-input1 {
    padding: 20px 40px 0 40px;

    @media ( max-width: 900px){
        padding: 10px 20px 0 20px;
    }
}

.infogus_button {
    margin-top: 48px;

    @media ( max-width: 900px){
        margin-top: 10px;
    }
}

.infogus_adr {
    max-width: 480px;

    @media ( max-width: 700px){
        margin-top: 30px;
    }
}

.infogus_Address {
    margin-bottom: 30px;

    @media ( max-width: 900px){
        margin-bottom: 10px;
    }
}

.infogus_paragf {
    opacity: 0.7;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.75;

    @media ( max-width: 900px){
        font-size: 14px;
    }
}

.infogus_main {
    font-size: 23px; 
    font-weight: 600;
    line-height: 1.5;

    @media ( max-width: 900px){
        font-size: 16px;
    }
}

.infogus_Contact {
    margin-bottom: 34px;

    @media ( max-width: 900px){
        margin-bottom: 10px;
    }
}

.infogus_main-email{
    width: 231px;
}

.infogus_maps{
    position: relative;
    z-index: 1;
    text-align: center;
}

.maps {
    max-width: 100%;
    
    @media ( max-width: 1100px){
        height: 350px;
    }
    @media ( max-width: 900px){
        height: 170px;
        width: 600px;
    }
    @media ( max-width: 400px){
        height: 120px;
    }
}

/* ---------FOOTER TOP----------- */
/* ---------FOOTER TOP----------- */
.footer_top {
    background: rgb(30, 27, 27);
    opacity: 0.98;

}
.footer_top-img {
    margin-top:-170px;

    @media ( max-width: 900px){
        margin-top: -115px;
    }
}  

.footer_top-img1 {
    max-width: 100%;

    @media ( max-width: 1600px){
        height: 360px;
    }
    @media ( max-width: 900px){
        height: 240px;
    }
    @media ( max-width: 600px){
        height: 210px;
    }
    @media ( max-width: 400px){
        height: 180px;
    }
}  

.footer_top-container {
    display: flex;
    justify-content:space-between;
    padding: 128px 0;

    @media ( max-width: 1300px){
        padding: 70px 0;;
    }
    @media ( max-width: 900px){
        padding: 30px 0;
    }
    @media ( max-width: 500px){
        display: block;
}
}

.footer_top-box {
    margin: 0 20px;
}

.footer_title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
    max-width: 465px;
    margin-bottom: 64px;

    @media ( max-width: 1300px){
        font-size: 40px;
    }
    @media ( max-width: 900px){
        font-size: 25px;
        margin-bottom: 40px;
    }
    @media ( max-width: 400px){
        font-size: 22px;
        margin-bottom: 20px;
    }
}

.footer_top-socials {
    margin-bottom: 20px;
}

.footer_box-socials {
    display: flex;
    align-items: center;
}

.footer_socials-item {
    margin-right: 25px;

    @media ( max-width: 900px){
        margin-right: 20px;
    }
}

.footer_socials-link {
    @media ( max-width: 900px){
        display: block;
        width: 20px;
    }
    @media ( max-width: 400px){
        width: 15px;
    }
}

.footer_socials-item:last-child {
    margin-right: 0;
}

.footer_info-box {
    margin-right: 155px;

    @media ( max-width: 1300px){
        margin-right: 20px;
    }
    @media ( max-width: 600px){
        margin-left: 20px;
    }
}

.footer_paragf {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    opacity: 0.6;
    margin-bottom: 8px;

    @media ( max-width: 900px){
        font-size: 14px;
        margin-bottom: 2px;
    }
}

.footer_main {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 32px;

    @media ( max-width: 1300px){
        margin-bottom: 20px;
    }
    @media ( max-width: 900px){
        font-size: 18px;
    }
}

.footer_main1 {
    margin-bottom: 0;
}


/* ---------FOOTER BOTTOM----------- */
/* ---------FOOTER BOTTOM----------- */
.footer_bottom {
    background: rgb(30, 27, 27);
} 

.footer_bottom-inner {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 65px 10px;

    @media ( max-width: 1300px){
        padding: 40px 10px;
    }
    @media ( max-width: 900px){
        padding: 20px 10px;
    }
    @media ( max-width: 550px){
        display: block;
    }
}

.footer_logo1  {
    display: block;

    @media ( max-width: 550px){
        text-align: center;
        margin-bottom: 10px;
    }
} 

.footer_logo1 img {
    @media ( max-width: 900px){
        width: 50px;
    }
}   

.footer_nav {
    @media ( max-width: 550px){
        margin-bottom: 10px;
    }
}

.footer_nav-list {
    display:flex;
    justify-content: space-between;
}

.footer_nav-item {
    margin-right: 40px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.7;

    @media ( max-width: 1100px){
        font-size: 13px;
        margin-right: 15px;
    }
    @media ( max-width: 900px){
        font-size: 10px;
    }
}

.footer_nav-item:last-child{
    margin-right: 0;
}

.footer_nav-link:hover {
    color:rgb(236, 12, 12);
    transition: all .3s;
}

.footer_nav-сop { 
    color: rgb(147, 145, 145);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.7;

    @media ( max-width: 900px){
        font-size: 12px;
        line-height: 1.1;
    }
    @media ( max-width: 900px){
        font-size: 10px;
    }
    @media ( max-width: 550px){
        text-align: center;
    }
}


/* ---------MEDIA-----------*/
/* ---------MEDIA----------- */
    @media ( max-width: 900px ){


/* ---------HEADER TOP----------- */
    .burger{
        position:fixed;
        top: 12px;
        right:45px; 
        z-index: 150;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #b9d5e0;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 5px 20px 0px #2e2525;
    }

    .burger span{
        display: block;
        width: 30px;
        height: 4px;
        background-color:#1E1B1B ;
        border-radius: 3px;
        margin: 4px 0;
    } 

    .burger::before,
    .burger::after{
        content:"";
        display: block;
        width: 30px;
        height: 4px;
        background-color:#1E1B1B ;
        border-radius: 3px;
    }

    .burger.active::before {
        transform-origin: top left;
        transform: rotate(28deg);
        top: 9px;
    }

    .burger.active::after {
        transform-origin: top left;
        transform: rotate(-35deg);
        bottom: 9px;
    }

    .burger.active span {
        transform: scale(0);
    }

    .header{
        padding-top: 70px;
    }

    .header_top{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(247, 250, 101);
        z-index: 100;
        min-width: 300px;
        transform: translateX(100%);
        transition: all .3s;
    } 

    .header_top--open{
        transform: translateX(0%);
    }

    .header_top-inner{
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0;
    }

    .header_top1{
        display:block;
        position:relative;
        top: 0;
        left:0; 
        position: fixed;
        width: 100%;
    }

    .header_nav-list{
        flex-direction: column;
        align-items: center;
    }

    .header_nav{
        margin: 0; 
    }

    .header_nav-item{
        margin: 0;
        padding: 20px;
    }

    .header_nav-tel{
        display: none;
    }


/* ---------HEADER BODY----------- */
    .header_main {
    flex-wrap: wrap;
    }

    .header_top {
    margin-bottom: 0;
    }

    .header_content {
    margin-right: 0;
    }

    .header_main {
    display: flex;
    justify-content: center;
    }

    .header_body-inner {
    height: 100%;
    }

    .header_button1 {
    border-radius: 4px;
    font-weight: 200;
    }

    .header_content {
    margin-bottom: 20px;
    }

    .header {
    margin-bottom: 35px;
    }
    }


    @media ( max-width: 550px ){
        .header_logo {
            padding-left: 10px;
        }

        .customers_box{
            flex-wrap: wrap;
            padding: 10px 0;
        }

        .blog_customers{
            padding: 25px 0;
        }

        .accordeon_tutle {
            line-height: normal;
        }

        .infogus_adr {
            margin-top: 15px;
        }

        .footer_title {
            margin-bottom: 30px;
        }
}   


    @media ( max-width: 400px ){
        .header_top{
            min-width:none;
            left: 0;
        }

        .namber_inform {
            font-size: 10px;
            margin-left: 67px;
        }
} 

